@import "tailwindcss";
@plugin "daisyui" {
    themes: "velox_light" --default, "velox_dark";
    root: ":root";
    logs: true;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 3vh;
}

#manufacturerList {
    width: calc(100% - 4vw * 2);
    margin: 0 4vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.manufacturer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.manufacturer-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    border-top: 2px solid var(--color-base-content);
    border-bottom: 2px solid var(--color-base-content);
    transition: border 0.5s;
}

.manufacturer-headline:hover {
    border-top: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
}

.manufacturer-name {
    font-size: 20px;
    font-weight: bold;
    margin: revert;
}

.manufacturer-dropdown-icon {
    font-size: 20px;
    transform: rotateZ(0deg);
    transition: transform 0.5s, color 0.5s;
}

.manufacturer-headline:hover .manufacturer-dropdown-icon {
    color: var(--color-accent);
}

.manufacturer-headline:hover .manufacturer-dropdown-icon {
    transform: rotateZ(90deg);
}


/* per default only cars image shown, on hover also show name*/
.manufacturer-cars {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.manufacturer-car {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.manufacturer-car-image {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.manufacturer-car-name {
    font-size: 0px;
    opacity: 0;
    white-space: nowrap;
    transform: scale(0.5);
    transition: all 0.3s ease-in-out;
}

/* Hover Effect */
.manufacturer-car:hover .manufacturer-car-image {
    transform: scale(1);
}

.manufacturer-car:hover .manufacturer-car-name {
    font-size: 24px;
    opacity: 1;
    transform: scale(0.8);
}

/* Overlay the whole parent element but don't be visible */
.manufacturer-car-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}